doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://apis.google.com/js/api.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='/youtube-custom-feed/parameters.js')
    script(src='/javascripts/ycf.js')
  body
    block content
