.project
/.settings/
/node_modules/
/youtube-custom-feed/etc/zhykos*
/youtube-custom-feed/var/db.json
/packaging/cvf-*
/packaging/temp*
/package-lock.json
/coverage
/tests/resources/*.temp
/debug.log
