.project
/.settings/
/node_modules/
/youtube-custom-feed/db.json
/youtube-custom-feed/node_modules/
/youtube-custom-feed/public/youtube-custom-feed/parameters.zhykos.json
/packaging/cvf-*
/packaging/temp*