body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#popup {
  display: none;
}

.hiddenImage {
    filter: grayscale(1);
}

.hiddenText {
    color: gray;
    font-size: 80%;
}

.video {
  width: 200px;
  display: inline-block;
  vertical-align: text-top;
  text-align: center;
}

#wrapper {
  text-align: center;
}

#contents {
  display: none;
}
