body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#popup {
  display: none;
}

.hiddenImage {
    filter: grayscale(1);
}

.hiddenText {
    color: gray;
    font-size: 80%;
}